#entry-form {
	width: 1000px;
	padding: $box-padding;
	display: block;
	margin: 0 auto;
	#left-side {
		width: 45%;
		float: left;
		display: inline-block;
	}
	#right-side {
		width: 45%;
		float: right;
		display: inline-block;
	}
}