.form-row {
	width: 100%;
	display: inline-block;
	margin-bottom: $box-padding*2;
	&.generic-row {
		//height: 40px;
	}
}
.form-label {
	width: 100%;
	display: inline-block;
	margin-bottom: $box-padding;
	&.generic {
	}
	label {
		width: 100%;
		height: 100%;
		font-weight: bold;
		font-size: 1em;
	}
}
.form-input {
	height: 40px;
	width: 100%;
	display: inline-block;
	&.generic {
		width: 100%;	
	}
	input {
		line-height: 40px;
		height: 100%;
		width: 100%;
		padding-left: 0.25em;
		font-size: 1.2em;
		&.login {		
			text-align: center;
			padding: 0;
		}
	}
}
.form-button {
	height: 40px;
	width: 100%;
	button {
		width: 100%;
		display: inline-block;
		line-height: 2.5em;
		height: 100%;
	}
}
