$box-padding: 0.25em;
$row-padding: 0.25em;
$box-height : 64px;
$box-width : $box-height;

#window-container {
	height: 100%;
	width: 100%;
}
#header-container {
	background-color: hsl(150,50%,50%);
	width: 100%;
	height: 10%;
	border-bottom: 2px solid hsl(150,50%,20%);
	position: fixed;
	top: 0;
	left: 0;
}
#menu-container {
	height: 100%;
	width: 10%;
	background-color: hsl(160,50%,50%);
	position: fixed;
	top: 10%;
	left: 0;
	border-right: 2px solid hsl(150,50%,20%);
	ul {
		li {
			height: 2.5em;
			background-color: hsl(160,50%,70%);
			line-height: 2.5em;
			text-align: center;
			font-weight: bold;
			text-shadow: 0px 1px hsla(0,100%,100%,0.5);
			&:first-child {
				border-bottom: 1px solid hsla(150,50%,20%,0.5);
			}
			&:nth-child(1n+2) {
				border-top: 1px solid hsla(0,100%,100%,0.5);
				border-bottom: 1px solid hsla(150,50%,20%,0.5);
			}
		}
	}
}
#content-container {
	height: 90%;
	width: 90%;
	position: fixed;
	top: 10%;
	left: 10%;
	overflow-y: auto;
}
.module-box {
	margin: $box-padding;
	min-width: 400px;
	background-color: hsl(170,50%,60%);
	.module-box-header {
		padding: 0 $box-padding;
		height: 2.5em;
		background-color: hsl(160,50%,70%);
		line-height: 2.5em;
		font-weight: bold;
	}
	.module-box-content {
		padding: $box-padding;
	}
}
