$menu-width : 80%;
$animationDelay : 300ms;
$gradientOpacity : 0.1;

#navigation-container {
	width: 100%;
	height: 100%;
	#menu-bar {
	
		position: fixed;
		top: 0;
		z-index: 1000;

		height: 50px;
		width: 100%;

		background: -moz-linear-gradient(top,  hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,$gradientOpacity) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsla(0,0%,0%,0)), color-stop(100%,hsla(0,0%,0%,$gradientOpacity))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  hsla(0,0%,0%,0) 0%,hsla(0,0%,0%,$gradientOpacity) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  hsla(0,0%,0%,0) 0%,hsla(0,0%,0%,$gradientOpacity) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  hsla(0,0%,0%,0) 0%,hsla(0,0%,0%,$gradientOpacity) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  hsla(0,0%,0%,0) 0%,hsla(0,0%,0%,$gradientOpacity) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

		background-color: darken($siteBackgroundColour,10%);

		padding: 5px;

		-webkit-transition: left cubic-bezier(0.250, 0.460, 0.450, 0.940) $animationDelay;
		-moz-transition: left cubic-bezier(0.250, 0.460, 0.450, 0.940) $animationDelay;
		-o-transition: left cubic-bezier(0.250, 0.460, 0.450, 0.940) $animationDelay;
		transition: left cubic-bezier(0.250, 0.460, 0.450, 0.940) $animationDelay;

		box-shadow: 5px 0 15px hsla(0,0%,0%,0.5);
		border-bottom: 1px solid hsla(0,100%,100%,0.25);

		.menu-button {
			width: 40px;
			height: 40px;
			text-align: center;
			background-color: hsla(0,100%,100%,0.25);
			border-top: 1px solid hsla(0,0%,0%,0.25);
			text-shadow: 0 1px #fff;
			border-radius: 5px;
			line-height: 40px;
			font-size: 2.5em;
		}
		&.show-true {
			left: $menu-width;
		}
		&.show-false {
			left: 0;
		}
	}
}

#menu-contents {

	position: fixed;
	top: 0;
	z-index: 999;

	height: 100%;
	width: $menu-width;
	background-color: darken($siteBackgroundColour,25%);

	-webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) $animationDelay;
	-moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) $animationDelay;
	-o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) $animationDelay;
	transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) $animationDelay;

	overflow: scroll;
	
	&.show-true {
		left: 0;
	}
	&.show-false {
		left: -$menu-width;
	}
	ul {
		border-right: 1px solid #fff;
		li {
			
			background-color: #fff;

			padding-left: 5px;
			font-size: 1.3em;
			height: 50px;
			line-height: 50px;
			border-bottom: 1px solid hsla(0,100%,0%,0.1);
			//border-top: 1px solid hsla(0,100%,100%,0.1);
		}
	}
}
#content-blocker {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 900;
	background-color: hsla(0,0%,0%,0.5);
	display: none;

	&.show-true {
		display: block;
	}
}