$box-padding: 0.25em;
$row-padding: 0.25em;
$box-height : 64px;
$box-width : $box-height;

.staff-block-container {
	margin: $box-padding 1% 1% 1%;
	border-bottom: 2px solid hsl(150,50%,20%);
	& > * {
		display: inline-block;
	}

	clear: both;
	background-color: hsl(0,0%,95%);
	border: 1px solid hsl(150,50%,10%);
	box-shadow: 0px 5px 10px hsla(0,0%,0%,0.1);

	.staff-block-letter-container {
		width: 3%;
		text-align: center;
		padding-top: $box-padding;
		font-size: 2em;
		font-weight: bold;
		float: left;
		height: 100%;
	}
	.staff-block-inner-container {
		border-left: 2px solid hsl(150,50%,10%);
		background-color: hsl(0,0%,95%);
		min-height: 2em;
		height: auto;
		width: 97%;
		.staff-entry-container {
			margin-bottom: $box-padding;
			border-bottom: 1px solid hsl(150,50%,10%);
			padding: 0.5%;
			&:last-child {
				border-bottom: none;
			}
			.staff-name-container {
				margin-left: 1%;
				.first-name {
					font-size: 1.5em;
					font-style: italic;
				}
				.last-name {
					font-size: 2em;
					font-weight: bold;
				}
			}
			.staff-details-container {
				padding-top: 0.5%;
				padding-left: 2%;
			}
		}
	}
}