/* pro fix thanks to http://stackoverflow.com/questions/485827/css-100-height-with-padding-margin */
@mixin full-width-box {
	position:relative;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
@mixin message-padding {
	$spacing: 5px;
	padding: $spacing;
}
@mixin message-margin {
	$spacing: 2px;
	margin: ($spacing/2) $spacing;
}
@mixin message-border($colour) {
	border: 1px solid $colour;
}
@mixin rounded-border {
	border-radius: 5px;
}
@mixin form-border($colour) {
	border: 1px solid $colour;
}
@mixin placeholder {
	&.placeholder {
		@content
	}
	&:-moz-placeholder {
		@content
	}
	&::-webkit-input-placeholder {
		@content
	}
}
/*
	hue($color)
	Gets the hue component of a color.
	saturation($color)
	Gets the saturation component of a color.
	lightness($color)
	Gets the lightness component of a color.
*/
/* http://stackoverflow.com/questions/3913383/multiple-centered-floating-divs-in-a-liquid-layout for floating x number of divs in the center of something */
/* set the display of the divs to be centered to display: inline-block; then set the container div to text-align: center; */