
// Globals
@import "colours";
@import "mixins";
@import "reset";
@import "functions";

// // Sheets
@import "sheets/index";
@import "sheets/menu";
@import "sheets/staff";
@import "sheets/login";
@import "sheets/add-new";
@import "sheets/forms";

$base-font-size: 1rem;

*, *:before, *:after {
}
html, body {
	height: 100%;
	width: 100%;
}
body {
	font-family: "Noto Sans", sans-serif;
	background-color: $siteBackgroundColour;
	color: $fontColour;
	font-size: $base-font-size;
}
h1 {
	font-size: $base-font-size*2;
}
h2 {
	font-size: $base-font-size*1.5;
}
.flex-row {
	width: 100%;
	display: flex;
	align-items: stretch;
}
.half-width {
	width: 50%;
}
.flex-box {
	//display: inline-block;
}